@keyframes nav {
	from {font-size: 16px; font-weight: normal;}
	to{font-size: 20px; font-weight: bold;}
}

header {
	font-size: 42px;
	font-style: oblique;
	display: block;
	padding: 25px;
	color: white;
	background-color: darkred;
}

nav {
	display: block;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
  	font-size: 16px;
	word-spacing: 8px;
	text-decoration: none;
	
}
nav:hover {
	display: block;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
  	font-size: 20px;
	word-spacing: 8px;
	text-decoration: none;
	font-weight: bold;
}

section {
	padding-bottom: 3%;
}

section p {
  font-size: 16px;
  text-indent: 4%;
  margin-left: 6%;
  margin-right: 6%;
	color: darkred;
}

body {
	background-color: lightgray;
}

h1 {
  font-size: 28px;
  color: darkred;
  font-weight: bold;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
}

h2 {
  font-size: 24px;
  color: darkred;
  font-weight: bold;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 2%;
}

footer {
  color: black;
  font-size: 14px;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
  class: center;
}

figcaption {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

#section2-3 {
  padding-bottom: 10px;
}

#figure2-1 {
  float: left;
  width: 48%;
  margin: 0;
  padding-top: 4%;
  padding-bottom: 2%;
	padding-left: 2.5%;
}

#figure2-2 {
  float: right;
  width: 48%;
  margin: 0;
  padding-top: 4%;
  padding-bottom: 2%;
	padding-right: 1.5%;
}

#reset {
  float: none;
  clear: both;
	background-color: white;
}

ul {
  color: darkred;
  font-size: 16px;
  margin-left: 6%;
  margin-right: 6%;
}

aside {
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  color: darkred;
  text-indent: 4%;
  padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

#section2-5 {
	float: left;
	width: 40%;
	margin-left: 2%;
	margin-right: 2%;
}

#paragraph2-1 {
	float: none;
	width: 100%;
	margin-right: 4%;
}

#figure2-3 {
	float: right;
	width: 46%;
	margin: 0;
	padding-top: 2.5%;
	padding-right: 4%;
}

#section3-2 {
	float: right;
	width: 46%;
	margin: 0;
	padding-right: 4%;
}

#figure3-1 {
	float: left;
	width: 46%;
	margin: 0;
	padding-left: 4%;
	padding-top: 4%;
}

#article3-1 {
	float: left;
	width: 46%;
	margin: 0;
	padding-left: 4%;
}

#figure3-2 {
	float: right;
	width: 46%;
	margin: 0;
	padding-right: 4%;
	padding-top: 1%;
}

#figure3-3 {
	float: left;
	width: 46%;
	margin: 0;
	padding-left: 2%;
}

#article3-2 {
	float: right;
	width: 46%;
	margin: 0;
	padding-right: 4%;
}

div {
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: thin;
	padding-bottom: 15px;
}

#paragraph4-1 {
	float: left;
	width: 62%;
	margin: 0;
	padding-left: 6%;
}

#figure4-1 {
	float: right;
	width: 20%;
	margin: 0%;
	padding-right: 8%;
}

#paragraph4-2 {
	float: right;
	width: 64%;
	margin: 0;
	padding-right: 6%;
}

#figure4-2 {
	float: left;
	width: 20%;
	margin: 0;
	padding-left: 8%;
}

#article4-1 {
	float: left;
	width: 56%;
	margin: 0;
	padding-left: 2%;
}

#figure4-3 {
	float: right;
	width: 36%;
	margin: 0;
	margin-top: 1.5%;
	padding-right: 6%
}

#bttlink {
	margin-left: 6%;
}

@media screen and (min-width:650px) and (max-width:1100px){

section p {
	font-size: 16px;
	text-indent: 4%;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 2%;
	color: darkred;
	padding-bottom: 15px;
}

aside {
	font-size: 28px;
	font-style: italic;
	font-weight: bold;
	color: darkred;
	text-indent: 4%;
	padding-top: 30px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
}

#section2-5 {
	float: none;
	width: 100%;
	margin-right: 2%;
}

#paragraph2-1 {
	float: left;
	width: 40%;
	margin-right: 2%;
}

#section3-2 {
	float: none;
	width: 100%;
	margin: 0;
	padding-right: 0%;
}

#figure3-1 {
	float: none;
	width: 86%;
	margin: 0;
	padding-left: 0%;
	padding-top: 0%;
	text-indent: 7%;
}

#article3-1 {
	float: none;
	width: 100%;
	margin: 0;
	padding-left: 0%;
}

#figure3-2 {
	float: none;
	width: 84%;
	margin: 0;
	padding-right: 0%;
	padding-top: 0%;
	text-indent: 8%;
}

#figure3-3 {
	float: left;
	width: 46%;
	margin: 2%;
	margin-left: 4%;
}

#article3-2 {
	float: none;
	width: 100%;
	margin-left: 2%;
}

#paragraph3-3 {
	float: right;
	width: 40%;
	margin-left: 2%;
}

#paragraph4-1 {
	float: none;
	width: 90%;
	margin-right: auto;
}

#figure4-1 {
	float: none;
	width: 80%;
	margin: auto;
	padding-right: 0%;
	text-align: center;
}

#paragraph4-2 {
	float: none;
	width: 90%;
	margin: auto;
	padding-right: 0%;
}

#figure4-2 {
	float: none;
	width: 80%;
	margin: auto;
	padding-left: 0%;
}

#article4-1 {
	float: none;
	width: 100%;
	margin: auto;
	padding-left: 0%;
}

#figure4-3 {
	float: none;
	width: 80%;
	margin: auto;
	margin-top: auto;
	padding-right: 0%
}

}

@media (min-width:0px) and (max-width:650px){
header {
	font-size: 42px;
	font-style: oblique;
	display: block;
	padding: 25px;
	color: white;
	background-color: darkred;
	text-align: center;
}
nav {
	display: block;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	word-spacing: 8px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
footer {
	color: black;
	font-size: 14px;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 2%;
	margin-bottom: 2%;
	font-weight: bold;
	text-align: center;
}
	
h1 {
	font-size: 28px;
	color: darkred;
	font-weight: bold;
	margin-left: 2%;
	margin-right: 2%;
	padding: 1%;
	text-align: center;
}
	
h2 {
	font-size: 24px;
	color: darkred;
	font-weight: bold;
	margin-left: 4%;
	margin-right: 4%;
	padding-top: 2%;
	text-align: center;
}
	
aside {
	font-size: 28px;
	font-style: italic;
	font-weight: bold;
	color: darkred;
	text-indent: 4%;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}
	
#figure2-1 {
	float: none;
	width: 96%;
	margin: 0;
	padding-top: 4%;
	padding-bottom: 2%;
	padding-left: 2%;
	text-align: center;
}
	
#figure2-2 {
	float: none;
	width: 88%;
	margin: 0;
	padding-top: 4%;
	padding-bottom: 2%;
	padding-left: 6%;
	text-align: center;
}
	
figcaption {
	color: black;
	font-size: 16px;
	font-weight: bold;
}
	
#paragraph2-0 {
	text-align: center;	
}	
	
#paragraph2-1 {
	float: none;
	width: 90%;
	margin-right: 0%;
}
	
#figure2-3 {
	float: none;
	width: 86%;
	margin: 0;
	padding-top: 2.5%;
	padding-right: 0%;
	padding-left: 7%;
}
	
#section2-5 {
	float: none;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}
	
#section3-2 {
	float: none;
	width: 96%;
	margin: 0;
	padding-right: 0%;
	padding-left: 2%;
}	
	
#figure3-1 {
	float: none;
	width: 84%;
	margin: 0;
	padding-left: 8%;
	padding-top: 4%;
}
	
#article3-1 {
	float: none;
	width: 96%;
	margin: 0;
	padding-left: 2%;
}
	
#figure3-2 {
	float: none;
	width: 82%;
	margin: 0;
	padding-left: 9%;
	padding-right: 0%;
	padding-top: 2%;
}
	
#article3-0 {
	float: none;
	width: 96%;
	margin: 0;
	padding-left: 2%;
}	
	
#figure3-3 {
	float: none;
	width: 84%;
	margin: 0;
	padding-left: 8%;
}
	
#article3-2 {
	float: none;
	width: 96%;
	margin: 0;
	padding-right: 0%;
	padding-left: 2%;
}
	
#paragraph4-1 {
	float: none;
	width: 88%;
	margin: 0;
	padding-left: 6%;
}
	
#figure4-1 {
	float: none;
	width: 86%;
	margin: 0%;
	padding-right: 0%;
	padding-left: 7%;
	padding-top: 4%;
}
	
#paragraph4-2 {
	float: none;
	width: 88%;
	margin: 0;
	padding-right: 0%;
	padding-left: 6%;
}
	
#figure4-2 {
	float: none;
	width: 86%;
	margin: 0;
	padding-left: 7%;
	padding-top: 8%;
}
	
#article4-1 {
	float: none;
	width: 96%;
	margin: 0;
	padding-left: 2%;
}
	
#figure4-3 {
	float: none;
	width: 76%;
	margin: 0;
	padding-top: 4%;
	padding-right: 0%;
	padding-left: 12%;
}
	
}
